html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #000;
    --secondary-color: #555;
    --background-color: #f7f7f7;
    --text-color: #333;
    --light-text-color: #666;
    --button-background: #000;
    --button-hover: #555;
    --nav-background: #fff;
    --nav-text-color: #000;
    --nav-hover-color: #0071e3;
    --footer-background: #000;
    --footer-text-color: #fff;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
    position: relative;
}


header {
    background: var(--nav-background);
    color: var(--nav-text-color);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    position: relative;
    margin: 0 25px;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    display: block;
    transition: color 0.3s;
}
nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: var(--nav-hover-color);
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

#animationCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

section {
    padding: 100px 20px;
    text-align: center;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero .content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


h1 {
    font-size: 3em;
    font-weight: 700;
}

h2 {
    color: var(--primary-color);
    font-size: 2.5em;
    font-weight: 600;
}

h3 {
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: 500;
}